.modal-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    &.active {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .modal {
        width: 100%;
        max-width: 532px;
        margin: 16px;
        background: #fff;
        position: relative;
        border-radius: 0.5em;
        .logo {
            width: 150px;
            height: 45px;
            margin: 7px auto;
            display: block;
        }
    }
    .close {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 24px;
        line-height: 36px;
        border-radius: 0 4px 0 0;
        background: transparent;
        color: $gray-medium;
        &:hover {
            background: $gray-dark-bg;
        }
    }
}
.quick-view-details {
    padding: 24px;
    background: $gray-medium-bg;
    border-radius: 0 0 4px 4px;
    .product-price {
        font-size: 18px;
    }
    .product-price {
        color: $primary-green;
        font-weight: bold;
        font-size: 24px;
        float: right;
        &:before {
            content: "$ ";
        }
    }
}
.quick-view-image {
    img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display: block;
        border-radius: 4px 4px 0 0;
    }
}
