*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.created {
    background-color: #fdf0e2;
}
.reject {
    background-color: #ffcfcf;
}
